#!/usr/bin/env python3


import json
import requests
import time
import traceback


now = time.gmtime()

metadata_request = requests.get('http://169.254.169.254/metadata/v1.json')
metadata = metadata_request.json()

canary_run = {
    "region": metadata['region'],
    "droplet_id": metadata['droplet_id'],
    "ipv4_address": metadata['interfaces']['public'][0]['ipv4']['ip_address'],
}

api_request_headers = {
    'Authorization': 'Bearer {{ script_api_token }}',
    'Content-Type': 'application/json'
}

try:
    droplet_list = requests.get('https://api.digitalocean.com/v2/droplets',
                                headers=api_request_headers)
except ConnectionResetError as e:
    canary_run['result'] = "failure"
    canary_run['error_code'] = "ConnectionResetError"
    canary_run['traceback'] = json.dumps(traceback.format_exc())
except Exception as e:
    canary_run['result'] = "failure"
    canary_run['error_code'] = e.__class__.__name__
    canary_run['traceback'] = json.dumps(traceback.format_exc())
else:
    canary_run['http_response_date_header'] = droplet_list.headers['Date']
    canary_run['ray_id'] = droplet_list.headers['CF-RAY']

    if droplet_list.status_code == 200:
        canary_run['result'] = "success"
        canary_run['droplet_count'] = droplet_list.json()['meta']['total']
    elif droplet_list.status_code == 429:
        canary_run['result'] = "failure"
        canary_run['error_code'] = "too_many_requests"

print(json.dumps(canary_run, separators=(',', ':')))

with open('digitalocean_api_canary.log', 'a') as log_file:
    log_file.write(json.dumps(canary_run, separators=(',', ':')))
