output.elasticsearch:
  hosts: ["{{ elasticsearch.endpoint }}"]
  username: {{ elasticsearch.username }}
  password: {{ elasticsearch.password }}
packetbeat.flows:
  period: -1s
  timeout: 30s
  enabled: false
packetbeat.interfaces.device: {{ ansible_default_ipv4.interface }}
packetbeat.interfaces.type: af_packet
packetbeat.protocols:
  - type: dns
    ports: [53]
    include_authorities: true
    include_additionals: true
  - type: http
    ports: [80]
    redact_authorization: true
    send_all_headers: true
  - type: tls
    ports: [443]
processors:
  - add_cloud_metadata: ~
setup.dashboards.enabled: true
setup.template.overwrite: true
setup.template.settings:
  index.number_of_shards: 1
  index.number_of_replicas: 0
xpack.monitoring.enabled: true
xpack.monitoring.elasticsearch:
